# FORMAT FOR PRISMA: "mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME"
# EXAMPLE: "mysql://root:123456789@localhost:3306/financial_copilot"
DATABASE_URL=this-is-your-database-url

JWT_SECRET=your-super-long-secret-key

PORT=3000