<div class="not-found-page">
    <mat-icon class="not-found-page__icon">error_outline</mat-icon>
    <span class="not-found-page__title">
        404: Page Not Found
    </span>
    <div class="not-found-page__body">
        <span class="not-found-page__text">
            We have hit a brief patch of turbulence. While your financial data is
            perfectly safe, this link you are looking for has been relocated or
            no longer exists.

            Let’s adjust your path and get you back on track.
        </span>
    </div>

    @if (isLoggedIn()) {
    <button mat-raised-button class="not-found-page__button" routerLink="/dashboard">
        Return to Dashboard
    </button>
    } @else {
    <button mat-raised-button class="not-found-page__button" routerLink="/auth/login">
        Log In
    </button>
    }

    @if (isLoggedIn()) {
    <div class="not-found-page__navigation">
        <span class="not-found-page__navigation-title">
            Need an alternative path?
        </span>
        <div class="not-found-page__link-group">
            <a class="not-found-page__link" routerLink="/profile/support/contact">
                Contact Support
            </a>
        </div>
    </div>
    }
</div>