<div class="strength-indicator">
    <!-- LABEL -->
    <div class="strength-indicator__header">
        <span class="strength-indicator__title">Password Strength:</span>
        <span class="strength-indicator__label" [ngClass]="strengthState">
            {{ strengthLabel }}
        </span>
    </div>
    <div 
        class="strength-indicator__bar" 
        [attr.data-strength]="strengthLevel"
    >
        <div class="strength-indicator__segment"></div>
        <div class="strength-indicator__segment"></div>
        <div class="strength-indicator__segment"></div>
        <div class="strength-indicator__segment"></div>
    </div>

    <div class="strength-indicator__security-requirements">
        <span class="strength-indicator__requirements-title">Security Requirements:</span>
        <!-- CHECKLIST -->
        <div 
            class="strength-indicator__checklist" 
            [class.strength-indicator__checklist--complete]="isPasswordValid" 
        >
            <div 
                class="strength-indicator__check-item" 
                [class.strength-indicator__check-item--met]="passwordChecks.length"
            >
                <mat-icon class="strength-indicator__icon">
                    {{ passwordChecks.length ? 'check_circle' : 'fiber_manual_record' }}
                </mat-icon>
                <mat-label>At Least 8 Characters</mat-label>
            </div>
            <div 
                class="strength-indicator__check-item" 
                [class.strength-indicator__check-item--met]="passwordChecks.uppercase"
            >
                <mat-icon class="strength-indicator__icon">
                {{ passwordChecks.uppercase ? 'check_circle' : 'fiber_manual_record' }}
                </mat-icon>
                <mat-label>One Uppercase Letter</mat-label>
            </div>
            <div 
                class="strength-indicator__check-item" 
                [class.strength-indicator__check-item--met]="passwordChecks.number"
            >
                <mat-icon class="strength-indicator__icon">
                    {{ passwordChecks.number ? 'check_circle' : 'fiber_manual_record' }}
                </mat-icon>
                <mat-label>One Number</mat-label>
            </div>
            <div 
                class="strength-indicator__check-item" 
                [class.strength-indicator__check-item--met]="passwordChecks.special"
            >
                <mat-icon class="strength-indicator__icon">
                    {{ passwordChecks.special ? 'check_circle' : 'fiber_manual_record'}}
                </mat-icon>
                <span>One Special Character (@, $, !, etc.)</span>
            </div>
        </div>
    </div>

    
</div>

    