// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@use './styles/primitives';
@use './styles/semantics';
@use './styles/component-tokens/_buttons.scss';
@use './styles/component-styles/_buttons.scss';

html, body {
    height: 100%;
    margin: 0;

    // font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
    font-family: var(--font-family-default);

    background-color: var(--surface-primary);
    color: var(--text-primary);

    // Antialiasing optimizations for modern text rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

// Global Box-Sizing Insurance
*,
*::before,
*::after {
  box-sizing: inherit;
}


/* You can add global styles to this file, and also import other style files */
